body {
  background: linear-gradient(90deg, red,blue,green);
  background-image: url(https://asset.gecdesigns.com/img/wallpapers/blue-purple-beautiful-scenery-ultra-hd-wallpaper-4k-sr10012421-1706505497434-cover.webp);
  background-size: 100%;
}

/* https://wallpaperaccess.com/full/205607.jpg */